@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

*{
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';

}

section{
    position: relative;
}

ul,li{
    list-style: none;
}

.static_header{
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 9999;
    top: 0px;
    background-color: #fff;
}

.static_header img{
    width: auto;
    height: 20px;
    background-color: #fff;
    margin-top: 20px;
    cursor: pointer;
}

.header_frame{
    width: 100%;
    max-width: 1046px;
    margin: 0 auto;
    display: flex;
    height: 100%;
}

.header_nav{
    margin-left: auto;
    height: 100%;
    display: flex;
}

.header_nav ul{
    display: flex;
    height: 100%;
    margin-top: 0px;
}

.header_nav li{
    margin-top: 10px;
    height: 40px;
    line-height: 40px;
    margin-right: 5px;
    font-size: 15px;
    color: #4e5968;
    padding: 0px 15px;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.3s;
}

.header_nav li:last-child{
    color: #b0b8c1;
}

.blank{
    width: 20px;
}

.header_nav span{
    height: 40px;
    margin-top: 10px;
    padding-top: 10px;
    margin-right: 5px;
    color: #b0b8c1;
}

.header_nav li:hover{
    background-color: #e1e2e3;
}

.main_box_top{
    margin-top: 60px;
}

.bg_frame{
    height: 100vh;
}

.frame_1_text{
    position: absolute;
    text-align: center;
    top: 0px;
    left: 0;
    width: 100%;
    height: 500px;
    background: linear-gradient(180deg, white 0%, white 59px, rgba(255, 255, 255, 0) 100%);
}

.frame_1_text h1{
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
    font-size: 66px;
    font-weight: 700;
    line-height: 1.4;
    color: rgb(0, 0, 0);
    margin-top: 100px;
}

.frame_1_text button{
    margin-right: 4px;
    background-color: rgba(0, 12, 30, 0.8);
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-weight: 600;
    padding: 11px 22px;
    border-radius: 5px;
    transition: all 0.3s;
    cursor: pointer;
    border: none;
}

.frame_1_text button:hover{
    background-color: rgb(78, 89, 104);
    color: rgb(255, 255, 255);
}

.frame_1_text2{
    height: 600px;
    text-align: center;
    background-color: #f9fafb;
}

.frame_1_text2 p{
    font-size: 32px;
    font-weight: 700;
    line-height: 1.6;
    color: #191f28;
    text-align: center;
    padding-top: 200px;
}

.bg_img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.frame_2{
    padding: 250px 0 165px 0;
}

.frame_2_contentbox{
    width: 100%;
    max-width: 1046px;
    height: 1272px;
    position: relative;
    margin: 0 auto;
}

.frame2_content_1{
    position: relative;
    z-index: 1;
}

.frame2_content_1 h1{
    color: #3182F6;
    font-size: 28px;
}

.frame2_content_1 h2{
    color: #191f28;
    font-size: 50px;
}

.frame2_img_1{
    width: 600px;
    height: 936px;
    position: absolute;
    top: 0px;
    right: -104px;
}

.frame2_img_2{
    width: 600px;
    height: 936px;
    position: absolute;
    bottom: 0px;
    left: -104px;
}

.frame2_content_2{
    font-size: 23px;
    font-weight: 500;
    line-height: 1.5;
    color: rgb(51, 61, 75);
    position: absolute;
    right: 30px;
    bottom: 166px;
}

.phone_size{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

.phone_size_inner{
    position: absolute;
    top: 10%;
    left: 22%;
    width: 57%;
    height: auto;
}

.frame_3{
    padding: 250px 0 0 0;
    background-color: #f9fafb;
}

.frame_3_contentbox{
    width: 100%;
    max-width: 1046px;
    position: relative;
    margin: 0 auto;
}

.frame_3_contentbox img{
    width: 100%;
    height: auto;
}

.frame3_content_1{
    position: relative;
    z-index: 1;
    margin-bottom: 80px;
}

.frame3_content_1 h1{
    color: #3182F6;
    font-size: 28px;
}

.frame3_content_1 h2{
    color: #191f28;
    font-size: 50px;
}

.frame3_content_2{
    padding: 0 0 150px 38px;
    display: flex;
    justify-content: space-between;
}

.frame3_content_2 h1{
    color: #3182F6;
    font-size: 20px;
}

.frame3_content_2 h2{
    color: #333d4b;
    font-size: 40px;
}

.frame3_content_2 h3{
    color: #6b7684;
    font-size: 21px;
}

.frame3_content_2 div{
    flex-basis: calc(50% - 30px); 
    max-width: calc(50% - 30px);
}

.frame3_content_2 div:first-child{
    margin-top: 50px;
}


.frame3_content_3{
    padding: 0 0 150px 38px;
    display: flex;
    justify-content: space-between;
}

.frame3_content_3 h1{
    color: #3182F6;
    font-size: 20px;
}

.frame3_content_3 h2{
    color: #333d4b;
    font-size: 40px;
}

.frame3_content_3 h3{
    color: #6b7684;
    font-size: 21px;
}

.frame3_content_3 div{
    flex-basis: calc(50% - 30px); 
    max-width: calc(50% - 30px);
}

.frame3_content_3 div:last-child{
    margin-top: 50px;
}

.frame3_content_4{
    padding: 0 0 150px 38px;
    display: flex;
    justify-content: space-between;
}

.frame3_content_4 h1{
    color: #3182F6;
    font-size: 20px;
}

.frame3_content_4 h2{
    color: #333d4b;
    font-size: 40px;
}

.frame3_content_4 h3{
    color: #6b7684;
    font-size: 21px;
}

.frame3_content_4 div{
    flex-basis: calc(50% - 30px); 
    max-width: calc(50% - 30px);
}

.frame3_content_4 div:first-child{
    margin-top: 50px;
}

.footerFrame{
    padding-top: 50px;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1046px;
    margin: 0 auto;
}

.frame_4{
    height: calc(100vh - 60px);
}

.frame4_contentbox{
    width: 100%;
    max-width: 1046px;
    position: relative;
    margin: 0 auto;
}

.frame4_content_1{
    padding-top: 250px;
    margin-bottom: 210px;
}

.frame4_content_1 h1{
    color: #3182F6;
    font-size: 28px;
}

.frame4_content_1 h2{
    font-size: 50px;
    color: #191f28;
}

.frame4_img{
    position: absolute;
    width: 600px;
    height: 936px;
    top: 16%;
    left: 50%;
}

.frame4_img .phone{
    width: 100%;
    position: absolute;
    height: auto;
    z-index: 1;
}

.frame4_img .phone_contents1{
    position: absolute;
    top: 11%;
    left: 22%;
    width: 56%;
}

.frame4_img .phone_contents2{
    position: absolute;
    top: 11%;
    left: 22%;
    width: 56%;
}

.frame4_img .phone_contents3{
    position: absolute;
    top: 11%;
    left: 22%;
    width: 56%;
}

.frame4_contentbox span{
    font-size: 48px;
    color: #333d4b;
    display: block;
    font-size: 48px;
    font-weight: 600;
    line-height: 1.5;
}

.frame4_contentbox .color_1{
    color: #8b95a1;
}

.frame4_contentbox .color_2{
    color: #d1d6d8;
}

.frame4_contentbox p{
    margin-top: 30px;
    font-size: 23px;
    font-weight: 500;
    line-height: 1.5;
    color: #333d4b;
}

.footerFrame ul{
    list-style:none;
    padding-left:0px;
    font-size: 15px;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

.footerFrame li{
    padding-bottom: 3px;
    width: 100%;
    min-width: 170px;
    height: 30px;
    color: #6b7684;
    cursor: pointer;
}

.footerFrame li:first-child{
    width: 170px;
    height: 35px;
    color: #b0b8c1;
    font-weight: 700;
    cursor: auto;
}

.footerFrame li:first-child:hover{
    text-decoration: none;
}

.footerFrame li:hover{
    text-decoration: underline;
}

.footerText{
    width: 100%;
    color: #8b95a1;
    font-size: 13px;
    line-height: 20px;
    margin-top: 50px;
}

.footerText strong{
    color: #b0b8c1;
    font-size: 15px;
}

.footerbottomnav{
    display: inline-grid;
    grid-template-columns: repeat(4,auto);
    column-gap: 34px;
    row-gap: 4px;
    padding: 24px 0 30px;
    font-size: 13px;
    color: #6b7684;
}

.footerbottomnav div{
    cursor: pointer;
}

.footerbottomnav strong{
    color: #b0b8c1;
    font-weight: 400;
}

.footerbottomnav div:hover{
    text-decoration: underline;
}

.footerIcon{
    width: 100%;
    height: 38px;
    display: flex;
}

.footerIcon i{
    color: #6b7684;
    font-size: 34px;
    cursor: pointer;
    transition: all 0.3s;
    margin-right: 10px;
}

.footerIcon i:hover{
    color: #b0b8c1;
}